In [ ]:
#自訂的class
class Student:
    pass

In [ ]:
stu1 = Student()
print(stu1)

stu2 = Student()
print(stu2)

stu3 = Student()
print(stu3)

In [ ]:
def student_info(student):
    print("name:",student.name)
    print("chinese:",student.chinese)
    print("english:",student.english)
    print("math",student.math)

In [ ]:
stu1.name = "徐國堂"
stu1.chinese = 78
stu1.english = 92
stu1.math = 65
student_info(stu1)

In [ ]:
stu2.name = "張xx"
stu2.chinese = 92
stu2.english = 93
stu2.math = 68
student_info(stu2)

In [ ]:
stu3.name = "王xx"
stu3.chinese = 86
stu3.english = 56
stu3.math = 92
student_info(stu3)