In [ ]:
#tuple
cities = ('台北', '台中', '高雄', '台南', '花蓮' )
cities

In [ ]:
for city in cities:
    print(city)

In [ ]:
cities = '台北', '台中', '高雄', '台南', '花蓮' 
cities