In [ ]:
n = 10
print(type(n))

In [ ]:
#list
#[],list()

weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
type(weekdays)
weekdays[0]
weekdays[6]
try:
    weekdays[7]
except IndexError:
    print("索引錯誤")

In [ ]:
for item in weekdays:
    print(item)

In [ ]:
#用list()
l1 = list(range(100))
l1

In [ ]:
cities = ['台北', '台中', '高雄']
cities[0]
cities[1]
cities[2]

In [ ]:
cities[-1]
cities[-2]
cities[-3]

In [ ]:
#[:] -> slice
list2 = ['H','e','l','l','o', 'W','o','r','l','d']
list2[0:5]

In [ ]:
list2[5:10]

In [ ]:
list2[:5]

In [ ]:
list2[-5:]

In [ ]:
#2維list
nb = ['筆記電腦', '商用筆電']
mobile = ['APPLE', 'ASUS', 'HTC'] 
home = [3, '冰箱', 2, '洗衣機']
all3c = [nb, mobile, home]
all3c

In [ ]:
all3c[0][1]

In [ ]:
all3c[1][2]

In [ ]:
all3c[2][1]

In [ ]:
for row in all3c:
    print(row)

In [ ]:
for row in all3c:
    for item in row:
        print(item)
    print("=======")